*{
    font-family:'Times New Roman', Times, serif
}
body{
    background-color:#F93E4C;
}
img{
    width: 40%;
    height:20%;
    display: block;
    margin:auto;
    border-radius:5%;
}
p{
    background-color:#FFA255;
    width: 50%;
    height: auto;
    display: block;
    margin:auto;
    font-size:20px;
    border-radius: 2%;
    color:white;
}
li{
    margin-left: 10%;
    font-size: 130%;
    margin-bottom: 1%;
    color:#ADF061;
}
h1{
    text-align:center;
    margin-top: 5%;
    color:#DDD6DB;
}
h2{
    margin-left:7%;
    color:yellow;
}
footer{
    width: 100%;
    height: 100px;
    margin-top: 4%;
    text-align: center;
    display: block;
    background: #C0BAB5;
}
#nombre{
    color:#EC8131;
    font-family:'Courier New', Courier, monospace;
    text-shadow: black 10px 14px 4px;
}